body{background-color:#473C8B;}
#testtemp{
padding-top:30%;
width:100%;}
#clickers
	{
	text-align:center;
	
	font-size:160%;
	border:5px inset #8E8E8E;
	background:black;
	width:100%;
	top:0px;
	left:0px;
	color:white;	
	position: fixed;
	z-index:99;}
#add,#pay
	{
	margin-top:1%;
	font-size:130%;
	height:40%;
	width:20%;
	background:#000080;
	color:white;
	}
#cart
	{
	position:absolute;
	top:0%;
	left:0;
	width:100%;
	height:100%	
	z-index:0;}
#container
	{
	height:25%;
	font-size:160%;
	border:5px inset #8E8E8E;
	background:#EAEAEA;
	width:96%;
	margin:1%;}
.image
	{
width:30%;
	
	}
.nameid
	{
	width:35%;
	text-align:left;
	}
.subttl
	{
	width:35%;
	}
#quantity
	{
	width:30%;
	height:20%;
	
	font-size:60%;
	}